// Your footer style
/* code your footer design here */
#footer {
  padding: 50px 20px;
  color: rgb(30,30,30);
  background-color: #D2D7D3;
}

#text-align-right {
  text-align: right;
}

.fa {
  line-height: 18px;
  font-size: 45px;
  margin-bottom: 40px;
  color: rgb(30,30,30);
}
