// Your footer style
/* code your footer design here */
#footer {
  padding: 50px 20px;
  color: $gray;
  background-color: $gray-lighter;
}

#text-align-right {
  text-align: right;
}

.fa {
  line-height: 18px;
  font-size: 45px;
  margin-bottom: 40px;
  color: $gray;
  &:hover {
    color: $red;

  }
}
