@import url("banner.css");
@import url("footer.css");


#banner {
  background-image: image-url('background.jpg');
  background-size: cover;
  height: 600px;
  padding: 450px 200px;
  color: $white;
}

.padded {
  padding: 100px 50px;
}

.card {
  padding: 30px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  background-color: $yellow-light;
  height: 310px;
  vertical-align: middle;
  box-shadow: 3px 3px 3px;
  h2 {
  font-size: 25px;
  }
}

#ul-bg {
  background: $yellow;
}

.icon {
  height: 110px;
  vertical-align: middle;
}

#padded-icon {
  padding-top: 20px;
}



