---
title: Le Wagon Middleman boilerplate
---

  <!-- Banner -->
  <div id="banner">
    <h1>Styl.us</h1>
    <p>
      Turn your pen into your best friend. Make every line your make count.
    </p>
    <div class="padded-btn">
      <div class="btn btn-primary btn-lg">GET YOUR STYLUS</div>
    </div>
  </div>

  <div class="padded" id="ul-bg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <div class="icon">
            <%= image_tag "mariage2.png", alt: "Mariage picture", id: "padded-icon" %>
            </div>
            <h2>Build a family</h2>
            <p>
              Don't change your habits, but <b>find someone you love</b> and spend time with him/her.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <div class="icon">
              <%= image_tag "drink2.png", alt: "Drinking picture", id: "padded-icon" %>
            </div>
            <h2>See friends</h2>
            <p>
              You have a lot of people to see but keep some time to see your friends.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <div class="icon">
              <%= image_tag "travel2.png", alt: "Travel picture", id: "padded-icon" %>
            </div>
            <h2>Travel far</h2>
            <p>
              Visit the world. You'll see your life differently, and you'll get plenty of ideas.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <div class="icon">
              <%= image_tag "sleep2.png", alt: "Sleep picture", id: "padded-icon" %>
            </div>
            <h2>Rest a bit</h2>
            <p>
              Seems like quite an agenda. Don't forget to sleep at night, it can help.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Form -->

  <div class="text-center padded bg-form">
    <h2>Get news from us</h2>
    <p>Not so frequent but very captivating email recaps!</p>
    <form action="#" class="form-inline">
      <input type="email" placeholder="your_email@domain.com" class="form-control">
      <input type="submit" placeholder="Subscribe" class="btn btn-primary">
    </form>



  </div>


  <!-- Map -->
  <div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.852937,2.364178);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [] // TODO: replace [] by array from https://snazzymaps.com/
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>


